<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SpeedyFila</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>AddReportGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.AddReportGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>AddReportGuiControlServlet</servlet-name>
    	<url-pattern>/addReportGuiControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.LoginGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>LoginGuiControlServlet</servlet-name>
    	<url-pattern>/loginGuiControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.LogoutGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>LogoutGuiControlServlet</servlet-name>
    	<url-pattern>/logoutGuiControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowVideoAdsGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.ShowVideoAdsGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>ShowVideoAdsGuiControlServlet</servlet-name>
    	<url-pattern>/showVideoAdsGuiControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewAttractionsGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.ViewAttractionsGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>ViewAttractionsGuiControlServlet</servlet-name>
    	<url-pattern>/viewAttractionsGuiControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowAttractionInfoGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.ShowAttractionInfoGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>ShowAttractionInfoGuiControlServlet</servlet-name>
    	<url-pattern>/showAttractionInfoGuiControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowYourReportsGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.ShowYourReportsGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>ShowYourReportsGuiControlServlet</servlet-name>
    	<url-pattern>/showYourReportsGuiControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InsertFeedbackGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.InsertFeedbackGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>InsertFeedbackGuiControlServlet</servlet-name>
    	<url-pattern>/insertFeedbackGuiControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowCoinsGuiControlServlet</servlet-name>
		<servlet-class>logic.boundary.web.controlgrafico.ShowCoinsGuiControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>ShowCoinsGuiControlServlet</servlet-name>
    	<url-pattern>/showCoinsGuiControlServlet</url-pattern>
	</servlet-mapping>
	
</web-app>