@charset "ISO-8859-1";

img.backImg {
	position: relative;
	display: block;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

html,
body {
	height: 100%;
	margin: 0px;
}

h4.font {
	font-family: "Comic Sans MS", Arial, sans-serif;
    font-size: 21px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h4.desc {
	font-family: "Comic Sans MS", Arial, sans-serif;
    font-size: 17px;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: normal;
}

label.desc {
	display: inline;
	font-family: "Comic Sans MS", Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
}

input[type=checkbox].addreport {
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

input[type=text].addreport {
	border: 1px solid #00AA6D;
	height: 30px;
	width: 40px;
}

input[type=submit].addreport {
	background-color: #00AA6D;
	border: 1px solid #000;
	width: 120px;
	height: 34px;
	cursor: pointer;
	font-family: "Comic Sans MS", Arial, sans-serif;
    font-size: 17px;
    text-align: center;
}

ul {
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0px;
	overflow: hidden;
	background-color: #8EE7C7;
}

li.left {	
	float: left;
}

li.center{
	margin-left: 200px;
	float: left;
}

li.right {	
	float: right;
}

li a {
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 11px 50px;
  	text-decoration: none;
}

li.left a.left {
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 3px 10px;
  	text-decoration: none;
}

li.right a.right {
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 6px 15px;
  	text-decoration: none;
}

.active {
  	background-color: #00AA6D;
}

div.info {
  	background-color: #FFF;
  	flex: 1 1 auto;
}

div.infoside {
  	background-color: #8EE7C7;
  	flex: 0 1 400px;
}

div.message {
  	position: relative;
  	left: 0px;
	margin-left: 10px;
 	width: 380px;
 	height: 30px;
  	background-color: #8EE7C7;
  	
}

div.addreport {
    margin-left: 10px;
  	position: relative;
  	left: 0px;
  	width: 380px;
  	height: 100px;
}

div.box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.box .header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

div.box .content {
  flex: 1 1 auto;
}

div.box2 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

div.container1 {
	top: 0px;
    position: relative;
    width: 48px;
    height: 50px;
}

div.container2 {
    position: absolute;
    top: 49px;
    left: 46px;
    width: 100px;
    height: 50px;
}

div.icon{
	display: inline-block;
	position: relative;
	left: 0px;
	margin: 0px;
	height: 30px;
	width: 40px;
	text-aling: center;
}

div.text {
	display: inline-block;
	position: absolute;	
	left: 40px;
	margin-top: 5px;
	height: 30px;
	width: 350px;
	text-aling: left;
}

div.googleLogin {
	position: relative;
	padding: 7px 30px;
}

div.googleLogout {
	position: relative;
}